.trustedby{
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    height: 100px;
    font-size: 25px;
    font-weight: 500;
    gap: 35px;
}